<!-- FILE NAME SUGGESTIONS:
   * ds-1col--commerce-product-vesta-product-full.html.twig
   * ds-1col--commerce-product-vesta-product.html.twig
   x ds-1col--commerce-product-full.html.twig
   * ds-1col--commerce-product.html.twig
-->
{#{{ dump(_context) }}#}
<article class="product-view-full">
    <div class="product-teaser">
        <div class="product-teaser-image">
            {{ variation_field_variation_image }}
        </div>
        <div class="product-teaser-info">
            {{ title }}
            {{ variation_sku }}
            {{ variation_price }}
            {{ variation_attributes }}
            {{ variations }}
        </div>
    </div>
    {{ ds_content|without(title, variations) }}
</article>
