<div class="layout-container">

    <header role="banner">
        {{ page.header }}
        {{ page.navigation }}
    </header>

{#    {{ page.primary_menu }}#}
{#    {{ page.secondary_menu }}#}
{#    {{ page.breadcrumb }}#}
{#    {{ page.highlighted }}#}
{#    {{ page.help }}#}
    {% if page.slider %}
        <div class="slider">
            {{ page.slider }}
        </div>
    {% endif %}
    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <div class="layout-content">
            {{ page.content }}
        </div>

{#        {% if page.sidebar_first %}#}
{#            <aside class="layout-sidebar-first" role="complementary">#}
{#                {{ page.sidebar_first }}#}
{#            </aside>#}
{#        {% endif %}#}

{#        {% if page.sidebar_second %}#}
{#            <aside class="layout-sidebar-second" role="complementary">#}
{#                {{ page.sidebar_second }}#}
{#            </aside>#}
{#        {% endif %}#}

    </main>

    {% if page.footer %}
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    {% endif %}
    <div class="vesta-backlink">
        <a href="https://webvesta.ru" target="_blank" title="Создание и продвижение сайтов">Разработка сайта | Веб-студия "Веста"</a>
    </div>
</div>
